<launch>
    <include file="$(find magni_45_rplidar)/launch/back_rplidar.launch"/>
    <include file="$(find magni_45_rplidar)/launch/front_rplidar.launch"/>
    <include file="$(find magni_45_rplidar)/launch/magni_laser_merger.launch"/>
    <node name="laser_base_link_static_transform" pkg="tf2_ros" type="static_transform_publisher" args="0 0 0 0 0 0 base_link laser"/>

    <include file="$(find magni_45_rplidar)/launch/map_server.launch">
        <arg name="map_yaml" value="$(find magni_45_rplidar)/maps/magni_chart_5cm.yaml"/>
    </include>

    <rosparam command="load" file="$(find magni_45_rplidar)/param/amcl.yaml" />
    <node pkg="amcl" type="amcl" name="amcl" output="screen">
        <!--remap from="scan" to="scan_multi"/-->
</node>

    <node name="move_base" pkg="move_base" type="move_base" respawn="false" output="screen">
    <rosparam command="load" file="$(find magni_45_rplidar)/single_lidar_param/costmap_common_params.yaml" ns="local_costmap" />
    <rosparam command="load" file="$(find magni_45_rplidar)/single_lidar_param/costmap_common_params.yaml" ns="global_costmap" />
    <rosparam command="load" file="$(find magni_45_rplidar)/single_lidar_param/local_costmap_params.yaml" />
    <rosparam command="load" file="$(find magni_45_rplidar)/single_lidar_param/global_costmap_params.yaml" />
    <rosparam command="load" file="$(find magni_45_rplidar)/single_lidar_param/dwa_local_planner_params.yaml"/>
    <rosparam command="load" file="$(find magni_45_rplidar)/single_lidar_param/base_local_planner_params.yaml"/>
    <rosparam command="load" file="$(find magni_45_rplidar)/single_lidar_param/move_base_params.yaml"/>
  </node>
</launch>

